<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    ErrorDocument 404 http://localhost/error404
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
